.DashboardSearch {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  color: #233068;
  padding-left: 20px;
}

.DashboardSearch ul {
  list-style: none;
}

.AutoCompleteText {
  display: flex;
  width: 400px;
  margin-left: 20px;
}

.AutoCompleteText form {
  width: 400px;
}

.AutoCompleteText input {
  width: 100%;
  border: solid 1px gray;
  height: 20px;
}

.bloc-input {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.AutoCompleteText input:focus {
  outline: none;
}

.result {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 400px;
  z-index: 3005;
  margin-top: -20px;
  padding-top: 40px;
  padding: 5px;
  border: solid 1px gray;
  border-top-style: none;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.AutoCompleteText ul li {
  width: 100%;
  margin: 0;
}

.AutoCompleteText ul li:hover {
  cursor: pointer;
}

.Container-result {
  margin-top: 40px;
}

.Block-map--details {
  width: 100%;
  margin-top: 20px;
}

.Block-map--details div {
  width: 100%;
  padding: 1px;
  font-size: 0.9em;
}

@media only screen and (max-width: 500px) {
  /* Appareils avec une résolution de 500 pixels ou moins */
  .DashboardSearch {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #e8e8e8;
    color: #233068;
    margin: 0;
    padding: 0;
  }

  .DashboardSearch h5 {
    display: none;
  }

  .AutoCompleteText {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .AutoCompleteText form {
    margin: 5px;
    display: flex;
  }

  .AutoCompleteText-input {
    width: 100%;
    border: solid 1px gray;
    height: 20px;
  }

  .result {
    width: auto;
    z-index: 3005;
    padding: 5px;
    margin: 0;
    margin-top: 45px;
  }

  .AutoCompleteText ul li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
