.DashboardMap {
  width: auto;
  background-color: gray;
}

.Button-map-style {
  position: absolute;
  right: 2.5%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  z-index: 6000;
  border: none;
  font-weight: bold;
  border: solid 1px darkgray;
  overflow: hidden;
}

.Button-map-style:hover {
  cursor: pointer;
}
