.LeafletMin {
  height: 100%;
  width: 100%;
}

.Leaflet-min-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 6000;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 50%
  );
}
